body
{
background-image: url(info_bg.jpg);
background-repeat: fixed;
background-size: 100% 100%;
opacity: 0.8;
text-align: center;
}
div.type
{
position: relative;
margin: -1% 5% 0% 5%;/*上 右 下 左*/
background-color:#F7DBAC;
text-align: center;
border: 1pt #5d533d solid;
}
div.product_type
{
	background-color: #303030;
	width: auto;

}
div.one_product
{
padding:0% 0% 0% 0%;
background-color: #765929;
margin: 0% 10%;
border-radius: 2%;
width:auto;
}
img.type
{
	
}
img.product_pic
{
margin: 2%;
width: 10%;
height: 10%;
border-radius: 15%;
border:5pt  #ffffff solid;
}
div.one_product
{
padding:0% 0% 0% 0%;
background-color: #765929;

width:auto;
}